<section class="index-page">
   <img class="avatar" src={{image}} alt="You have been succesfully logged in!">
      <h1>
         Hello {{user}}
      </h1>
  <a href="/auth/logout">Log out</a>
</section>